@import "2.css";
/*page 3*/
.page_3 {
    background-image: url("../img/triangle.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.title_3 {
    padding:5%;
    font-family: "Ogil";
}

.story_3 {
    font-family: 'El Messiri', sans-serif;
    padding:0 10px 15px;
    margin: 0;
}

.gray {
    color: gray;
}

.link_3 {
    text-align: center;
    margin: 50px auto;
    padding: 50px 300px;
    background-color: black;
    color: white;
    display: block;
    cursor: pointer;
    font-family: "Ogil";
    font-weight: bold;
    font-size: 4rem;
    text-decoration: none;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
}

/*media*/

@-moz-document url-prefix() {
    .title_3 {
        margin: 0;
    }
    .story_3 {
        font-size: 1.3rem;
        max-width: 90vw;
        padding: 0 78px;
    }
    .link_3 {
        font-size: 2rem;
        padding: 20px 300px;
    }
    .answer_3 {
        width: 30%;
        font-size: 1rem;
        margin: 30px 20px;
    }
}