@import "4.css";
/*page 5*/
.page_5 {
    background-image: url("../img/Treasure_map_Eastmarch_04.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container_5 {
    background-color: rgba(255,255,255,0.5);
}

.title_5 {
    padding:5%;
    font-family: "Ogil";
}

.story_5 {
    font-family: 'El Messiri', sans-serif;
    padding:0 10px 15px;
    margin: 0;
}

.answer_5 {
    width: 70%;
    font-size: 3rem;
    font-family: "Ogil";
    font-weight: bold;
    text-align: center;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: black;
    color: white;
    margin: 100px 20px;
    box-shadow: 0px 0px 20px 0px rgba(255,255,255,1);
}

.link_5 {
    text-align: center;
    margin: 50px auto;
    padding: 50px 300px;
    background-color: black;
    color: white;
    display: block;
    cursor: pointer;
    font-family: "Ogil";
    font-weight: bold;
    font-size: 4rem;
    text-decoration: none;
    pointer-events: none;
    opacity: 0.8;
}

.active {
    pointer-events: auto;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    opacity: 1;
    transition: 0.5s linear;
}

.map {
    max-width: 80vw;
}