@import "7.css";
/*page 8*/
.page_8 {
    background-image: url("../img/hive.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.wrapper {
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,1);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,212,255,0) 100%);
}
.container_8 {
    background-color: rgba(255,255,255,0.5);
}

.title_8 {
    padding:5%;
    font-family: "Ogil";
}

.story_8 {
    font-family: 'El Messiri', sans-serif;
    padding:0 10px 15px;
    margin: 0;
}

.answer_8 {
    width: 70%;
    font-size: 3rem;
    font-family: "Ogil";
    font-weight: bold;
    text-align: center;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: black;
    color: white;
    margin: 100px 20px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,1);
}

.link_8 {
    text-align: center;
    margin: 50px auto;
    padding: 50px 300px;
    background-color: black;
    color: white;
    display: block;
    cursor: pointer;
    font-family: "Ogil";
    font-weight: bold;
    font-size: 4rem;
    text-decoration: none;
    pointer-events: none;
    opacity: 0.8;
}

.active {
    pointer-events: auto;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    opacity: 1;
    transition: 0.5s linear;
}

.fix_font {
    font-size: 3.7rem;
}