@import "fonts.css";
/*main page*/
body {
    font-size: 4rem;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.page {
    background-image: url("../img/green_leaves_PNG3671.png");
    background-size: 50rem;
    background-repeat: no-repeat;
}

h1  {
    font-size: 7rem;
    width: 100%;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns:50px 1fr 50px;
    justify-content: center;
    justify-items: center;
}

.main_column {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.title {
    padding:5%;
    font-family: "Ogil";
}

.story {
    font-family: 'El Messiri', sans-serif;
    padding:0 10px 15px;
    margin: 0;
}

.link {
    text-align: center;
    margin: 50px auto;
    padding: 50px 300px;
    background-color: black;
    color: white;
    display: block;
    cursor: pointer;
    font-family: "Ogil";
    font-weight: bold;
    font-size: 4rem;
    text-decoration: none;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.75);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
}

/*animation*/

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.content {
    animation: fade-in 3s ease;
}